version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "daily"

  - package-ecosystem: "uv"
    directory: "/backend"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/.github"
    schedule:
      interval: "daily"
