/*
    Caption style for images
*/

.fig-caption {
    flex-shrink: 0;
    font-size: 2rem;
    color: var(--air);
}

/*
    Card style
*/

  .card {
    position: relative;
    box-shadow: none;
    border-radius: 0.2em;
    border: 1px solid #aaa;
    overflow: hidden;
    text-align: left;
    background: var(--white);;
    margin-top: 1em;
    padding: 0;
    transition: all 0.3s ease;
  }

  .card header, .card section {
    padding: 0.6em 0.8em;
  }

  .card header {
    font-weight: bold;
    position: relative;
    border-bottom: 1px solid #aaa;
  }

  .card header h1,
  .card header h2,
  .card header h3,
  .card header h4,
  .card header h5,
  .card header h6 {
    padding: 0;
    margin: 0 2em 0 0;
    line-height: 1;
    display: inline-block;
    vertical-align: text-bottom;
  }

  .card header:last-child {
    border-bottom: 0;
  }

  .card footer {
    padding: 1em;
  }

  .card p {
    margin: 0.3em 0;
  }

  .card p:first-child {
    margin-top: 0;
  }

  .card p:last-child {
    margin-bottom: 0;
  }

  .card .dangerous {
    background: #ff4136;
    float: right;
  }

/*
  Button
*/

button {
  display: inline-block;
  text-align: center;
  letter-spacing: inherit;
  margin: 0;
  padding: 0.3em 0.9em;
  vertical-align: middle;
  background: #0074d9;
  color: #fff;
  border: 0;
  border-radius: 0.2em;
  width: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:hover, button:focus {
  box-shadow: inset 0 0 0 99em rgba(255, 255, 255, 0.2);
  border: 0;
}

button:active {
  box-shadow: inset 0 0 0 99em rgba(17, 17, 17, 0.2);
}

button[disabled] {
  cursor: default;
  box-shadow: none;
  background: #aaa;
}

/*
  G-Captcha
*/

.g-captcha {
  max-width: 50%;
}

/*
    Inputs
*/

input,
textarea {
  line-height: 1.5;
  margin: 1em 0 0 1em;
  height: 2.1em;
  padding: 0.3em 0.6em;
  border: 1px solid #aaa;
  background-color: var(--white);
  color: var(--black);
  border-radius: 0.2em;
  transition: all 0.3s;
  width: 90%;
}

input:focus,
textarea:focus,
.select select:focus {
  border: 1px solid #0074d9;
  outline: 0;
}

textarea {
  height: 15em;
}
