<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<script lang="javascript" async defer>
  const targetBackend = "https://backend.louhaidia.info/api/article/{{ .articleID }}"

  function submitComment(e, form) {
    e.preventDefault();

    const target = `${targetBackend}/comments/add`
    const jsonFormData = {};

    for (const pair of new FormData(form)) {
      jsonFormData[pair[0]] = pair[1];
    };

    fetch(target, {
      method: 'POST',
      credentials: "omit",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(jsonFormData)
    })
    .then(checkError)
    .then(data => {
      alert('Thanks for your feedback :) Status is: ' + data);
    })
    .catch((error) => {
      error.msg.then( (result) => {
        alert('Error while submitting comment ... ' + result.detail);
      })
    });
  };

  function checkError(response) {
    if (response.status >= 200 && response.status <= 299) {
      return response.json();
    } else {
      let err = new Error(response.statusText);

      err.msg = response.json();
      throw err;
    }
  };

  document.addEventListener("DOMContentLoaded", () => {
    const commentForm = document.querySelector("#commentForm");

    if (commentForm) {
      commentForm.addEventListener("submit", (e) => {
        submitComment(e, commentForm);
      });
    }
  });
</script>

<div class="card">
  <header>Subscribe and leave a comment :)</header>
  <form id="commentForm">
    <input required data-tooltip="Mandatory field" type="email" id="comment_who" name="who" tabindex="1" placeholder="Your mail address" class="tooltip-top">
    <textarea required id="comment_content" name="content" tabindex="2" placeholder="Tell me everything :)" ></textarea>

    <div class="cf-turnstile"
         data-sitekey="0x4AAAAAAABCp0ljCLkn6iFC"
         data-theme="auto"
         data-response-field-name="captcha"
         data-size="compact">
    </div>

    <footer>
      <button type="submit">Submit!</button>
    </footer>      
  </form>
</div>
