{{- define "main" }}

{{- if .Title }}
<header class="main-title">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div>
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

<div class="post-tags">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
        {{- $name := .Name }}
        {{- $count := .Count }}
        {{- with $.Site.GetPage (printf "/%s/%s" $type $name) }}
            <a href="{{ .Permalink }}">
                {{ .Name }} ({{ $count }})
            </a>
        {{- end }}
    {{- end }}
</div>

{{- end }}{{/* end main */ -}}
