{{- define "main" }}

{{- if .Title }}
<header class="main-title">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div>
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

<div class="mt-12 flex flex-wrap">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with $.Site.GetPage (printf "/%s/%s" $type $name) }}
    <a class="mb-1.5 mr-1.5 rounded-lg bg-black/[3%] px-5 py-1.5 no-underline dark:bg-white/[8%]"
        href="{{ .Permalink }}">{{ .Name }} ({{ $count }})</a>
    {{- end }}
    {{- end }}
</div>

{{- end }}{{/* end main */ -}}