name: Deploy infra + apps

on:
  push:
    branches:    
      - main

jobs:
  deploy:
    name: Authenticates to GCP using OIDC
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout code
      uses: actions/checkout@v3.1.0

    - name: Setup terraform
      uses: hashicorp/setup-terraform@v2.0.2
      with:
        terraform_version: 1.3.2
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: OIDC authentication
      uses: 'google-github-actions/auth@v0'
      with:
        workload_identity_provider: 'projects/${{ secrets.PROJECT_ID }}/locations/global/workloadIdentityPools/oidc-pool/providers/ci-cd-jwt'
        audience: ${{ secrets.OIDC_AUDIENCE }}
        service_account: ${{ secrets.CI_CD_SA_MAIL }}

    - name: Set up Cloud SDK
      uses: 'google-github-actions/setup-gcloud@v0'

    - name: Impersonate main service account
      id: get_access_token
      run: |
        export TOKEN=$(gcloud auth print-access-token --impersonate-service-account=${{ secrets.MAIN_SA_MAIL }})
        echo "::add-mask::$TOKEN"
        echo "GOOGLE_OAUTH_ACCESS_TOKEN=$TOKEN" >> $GITHUB_ENV

    - name: Auth to docker artifact registry using OIDC
      run: echo ${{ env.GOOGLE_OAUTH_ACCESS_TOKEN }} | docker login -u oauth2accesstoken --password-stdin https://europe-west1-docker.pkg.dev

    - name: Push latest umami image to our docker reg.
      run: |
        IMAGE=docker.umami.is/umami-software/umami:postgresql-latest
        DEST=europe-west1-docker.pkg.dev/${{ secrets.PROJECT_NAME }}/docker/umami:latest

        docker pull $IMAGE
        docker tag $IMAGE $DEST
        docker push $DEST

    - name: Remote authentication from terraform to GCP
      run: |
        cat << EOF > /tmp/tf-var-set-update.json
        {
          "data": {
            "type": "vars",
            "attributes": {
              "key": "GOOGLE_OAUTH_ACCESS_TOKEN",
              "value": "${{ env.GOOGLE_OAUTH_ACCESS_TOKEN }}",
              "description": "Access token for main service account ; valid for 1 hour max.",
              "sensitive": true,
              "category": "env",
              "hcl": false
            }
          }
        }
        EOF

        curl \
          --header "Authorization: Bearer ${{ secrets.TF_API_TOKEN }}" \
          --header "Content-Type: application/vnd.api+json" \
          --request PATCH \
          --data @/tmp/tf-var-set-update.json \
          https://app.terraform.io/api/v2/${{ secrets.TF_API_VAR_PATH }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build & push backend image
      uses: docker/build-push-action@v3.2.0
      with:
        context: ./back/
        push: true
        tags: europe-west1-docker.pkg.dev/${{ secrets.PROJECT_NAME }}/docker/back:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Build & push frontend image
      uses: docker/build-push-action@v3.2.0
      with:
        context: ./front/
        push: true
        tags: europe-west1-docker.pkg.dev/${{ secrets.PROJECT_NAME }}/docker/front:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Terraform apply
      run: |
        terraform -chdir=./iac init
        terraform -chdir=./iac apply -auto-approve -input=false

    - name: Update services (front and back)
      run: |
        gcloud run services update --quiet "elmouatassim" \
          --project "${{ secrets.PROJECT_NAME}}" \
          --region "europe-west1" \
          --image "europe-west1-docker.pkg.dev/${{ secrets.PROJECT_NAME}}/docker/front:latest" \
          --impersonate-service-account=${{ secrets.MAIN_SA_MAIL }}

        gcloud run services update --quiet "backend" \
          --project "${{ secrets.PROJECT_NAME}}" \
          --region "europe-west1" \
          --image "europe-west1-docker.pkg.dev/${{ secrets.PROJECT_NAME}}/docker/back:latest" \
          --impersonate-service-account=${{ secrets.MAIN_SA_MAIL }}

        gcloud run services update --quiet "umami" \
          --project "${{ secrets.PROJECT_NAME}}" \
          --region "europe-west1" \
          --image "europe-west1-docker.pkg.dev/${{ secrets.PROJECT_NAME}}/docker/umami:latest" \
          --impersonate-service-account=${{ secrets.MAIN_SA_MAIL }}
