name: Backend checks

on:
  pull_request:
    types: [synchronize, opened, reopened]

jobs:
  trufflehog:
    name: secrets/scan
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0

    - name: scan
      uses: trufflesecurity/trufflehog@main
      with:
        extra_args: --results=verified,unknown

  trivy:
    name: image/scan
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0

    - name: changes
      uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # pinned to v3.0.2
      id: changes
      with:
        filters: .github/file_and_dir_filters.yml

    - name: dockerfile/scan
      if: ${{ steps.changes.outputs.backend == 'true' }}
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
      with:
        scan-type: 'config'
        image-ref: ''
        severity: 'MEDIUM,HIGH,CRITICAL'
        scan-ref: './backend/Dockerfile'
        ignore-unfixed: true
        format: 'table'
        exit-code: 1

    - name: docker/setup
      if: ${{ steps.changes.outputs.backend == 'true' }}
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

    - name: docker/build
      if: ${{ steps.changes.outputs.backend == 'true' }}
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: .
        push: false
        tags: local/web:back
        cache-from: type=gha
        cache-to: type=gha,mode=max
        outputs: type=docker

    - name: image/scan
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
      if: ${{ steps.changes.outputs.backend == 'true' }}
      with:
        scan-type: 'image'
        image-ref: 'local/web:back'
        scanners: 'vuln'
        severity: 'MEDIUM,HIGH,CRITICAL'
        format: 'table'
        exit-code: 3
        ignore-unfixed: true
        vuln-type: 'os,library'
