name: "Pull-Request"

on:
  pull_request:
    types: [synchronize, opened, reopened]

permissions:
  contents: read

jobs:
  secrets:
    name: secrets/scan
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        fetch-depth: 0
    - name: trufflehog
      uses: trufflesecurity/trufflehog@7c0734f987ad0bb30ee8da210773b800ee2016d3
      with:
        extra_args: --results=verified,unknown

  changes:
    needs: secrets
    name: changes/detect
    runs-on: ubuntu-latest
    outputs:
      backend: ${{ steps.changes.outputs.backend }}
      frontend: ${{ steps.changes.outputs.frontend }}
      actions: ${{ steps.changes.outputs.actions }}
    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        fetch-depth: 0
    - name: changes
      uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
      id: changes
      with:
        filters: .github/file_and_dir_filters.yml

  backend:
    needs: changes
    name: backend/scan
    if: ${{ needs.changes.outputs.backend == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        fetch-depth: 0

    - name: dockerfile/scan
      uses: bridgecrewio/checkov-action@05d9f3cd4807c3dea7444d4e60dc44ad57928ab5
      with:
        output_format: cli
        output_file_path: console
        file: './backend/Dockerfile'
        framework: "dockerfile"
        quiet: true

    - name: docker/setup
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
    - name: docker/build
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
      with:
        context: './backend/'
        push: false
        tags: local/web:back
        cache-from: type=gha
        cache-to: type=gha,mode=max
        outputs: type=docker
    - name: image/scan
      id: backend_scan
      uses: anchore/scan-action@7037fa011853d5a11690026fb85feee79f4c946c
      with:
        image: 'local/web:back'
        fail-build: true
        output-format: table
        severity-cutoff: high
        only-fixed: true

  frontend:
    needs: changes
    name: frontend/scan
    if: ${{ needs.changes.outputs.frontend == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        fetch-depth: 0

    - name: dockerfile/scan
      uses: bridgecrewio/checkov-action@05d9f3cd4807c3dea7444d4e60dc44ad57928ab5
      with:
        output_format: cli
        output_file_path: console
        file: './backend/Dockerfile'
        framework: "dockerfile"
        quiet: true

    - name: docker/setup
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
    - name: docker/build
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
      with:
        context: './frontend/'
        push: false
        tags: local/web:front
        cache-from: type=gha
        cache-to: type=gha,mode=max
        outputs: type=docker
    - name: image/scan
      id: frontend_scan
      uses: anchore/scan-action@7037fa011853d5a11690026fb85feee79f4c946c
      with:
        image: 'local/web:front'
        fail-build: true
        output-format: table
        severity-cutoff: high
        only-fixed: true

  success:
    runs-on: ubuntu-slim
    needs: [backend, frontend]
    if: always()
    steps:
      - run: |
          if [[ ("${{ needs.backend.result }}" != "success" && "${{ needs.backend.result }}" != "skipped") || \
                ("${{ needs.frontend.result }}" != "success" && "${{ needs.frontend.result }}" != "skipped") ]]; then
            echo "❌ Failed :( Please check frontend or backend !!"
            exit 1
          fi
          echo "✅ All good :)"
