name: checks

on:
  pull_request:
    types: [synchronize, opened, reopened]

jobs:
  secrets:
    name: secrets/scan
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - name: trufflehog
      uses: trufflesecurity/trufflehog@main
      with:
        extra_args: --results=verified,unknown

  changes:
    needs: secrets
    name: changes/detect
    runs-on: ubuntu-latest
    outputs:
      backend: ${{ steps.changes.outputs.backend }}
      frontend: ${{ steps.changes.outputs.frontend }}
    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - name: changes
      uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # pinned to v3.0.2
      id: changes
      with:
        filters: .github/file_and_dir_filters.yml

  backend:
    needs: changes
    name: backend/scan
    if: ${{ needs.changes.outputs.backend == 'true' }}
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
    - name: dockerfile/scan
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
      with:
        scan-type: 'config'
        image-ref: ''
        severity: 'MEDIUM,HIGH,CRITICAL'
        scan-ref: './backend/Dockerfile'
        ignore-unfixed: true
        format: 'table'
        exit-code: 1

    - name: docker/setup
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: docker/build
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: './backend/'
        push: false
        tags: local/web:back
        cache-from: type=gha
        cache-to: type=gha,mode=max
        outputs: type=docker

    - name: image/scan
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
      with:
        scan-type: 'image'
        image-ref: 'local/web:back'
        scanners: 'vuln'
        severity: 'MEDIUM,HIGH,CRITICAL'
        format: 'table'
        exit-code: 3
        ignore-unfixed: true
        vuln-type: 'os,library'

  frontend:
    needs: changes
    name: frontend/scan
    if: ${{ needs.changes.outputs.frontend == 'true' }}
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
    - name: dockerfile/scan
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
      with:
        scan-type: 'config'
        image-ref: ''
        severity: 'MEDIUM,HIGH,CRITICAL'
        scan-ref: './frontend/Dockerfile'
        ignore-unfixed: true
        format: 'table'
        exit-code: 1

    - name: docker/setup
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: docker/build
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: './frontend/'
        push: false
        tags: local/web:front
        cache-from: type=gha
        cache-to: type=gha,mode=max
        outputs: type=docker

    - name: image/scan
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
      with:
        scan-type: 'image'
        image-ref: 'local/web:front'
        scanners: 'vuln'
        severity: 'MEDIUM,HIGH,CRITICAL'
        format: 'table'
        exit-code: 3
        ignore-unfixed: true
        vuln-type: 'os,library'
