name: Check Terraform

on:
  pull_request:
    paths:
      - 'iac/**'

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  gcp-auth:
    uses: ./.github/workflows/gcp_auth.yml
    secrets: 'inherit'

  tf-plan:
    name: Plan infra
    runs-on: ubuntu-latest
    needs: [gcp-auth]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3.5.3
      with:
        fetch-depth: 0

    - name: Scan terraform code
      uses: aquasecurity/tfsec-action@v1.0.3
      with:
        working_directory: '.'
        soft_fail: false
        additional_args: "--concise-output --minimum-severity=MEDIUM"

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2.0.3
      with:
        terraform_version: 1.4.6
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Format
      run: terraform -chdir=./iac fmt -check

    - name: Terraform Init
      run: terraform -chdir=./iac init

    - name: Terraform Validate
      run: terraform -chdir=./iac validate -no-color

    - name: Terraform Plan
      run: terraform -chdir=./iac plan
