name: Scan for secrets in PR

on:
  pull_request

jobs:
  secrets-scan:
    name: Scan for leaked secrets
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'
      pull-requests: 'read'

    steps:
    - name: Checkout code
      uses: actions/checkout@v3.5.3
      with:
        fetch-depth: 0

    - name: Detect secrets
      uses: gitleaks/gitleaks-action@v2.3.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITLEAKS_ENABLE_COMMENTS: true
        GITLEAKS_ENABLE_SUMMARY: true
