name: Scan for security issues

on:
  pull_request

jobs:
  pre-checks:
    name: Pre security scans
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'
      pull-requests: 'read'

    steps:
    - name: Checkout code
      uses: actions/checkout@v3.1.0
      with:
        fetch-depth: 0

    - name: Detect secrets
      uses: gitleaks/gitleaks-action@v2.3.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITLEAKS_ENABLE_COMMENTS: true
        GITLEAKS_ENABLE_SUMMARY: true

    - name: Scan backend Dockerfile
      uses: aquasecurity/trivy-action@0.7.1
      with:
        scan-type: 'config'
        severity: 'MEDIUM,HIGH,CRITICAL'
        scan-ref: './back/Dockerfile'
        ignore-unfixed: true
        format: 'table'
        exit-code: 3

    - name: Scan frontend Dockerfile
      uses: aquasecurity/trivy-action@0.7.1
      with:
        scan-type: 'config'
        severity: 'MEDIUM,HIGH,CRITICAL'
        scan-ref: './front/Dockerfile'
        ignore-unfixed: true
        format: 'table'
        exit-code: 3

    - name: Scan terraform code
      uses: aquasecurity/tfsec-action@v1.0.2
      with:
        working_directory: '.'
        soft_fail: false
        additional_args: "--concise-output --minimum-severity=MEDIUM"

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build backend image from Dockerfile
      uses: docker/build-push-action@v3.2.0
      with:
        context: ./back/
        push: false
        tags: local/web:back
        cache-from: type=gha
        cache-to: type=gha,mode=max
        outputs: type=docker

    - name: Scan backend image for vulnerabilities
      uses: aquasecurity/trivy-action@0.7.1
      with:
        scan-type: 'image'
        image-ref: 'local/web:back'
        security-checks: 'vuln'
        severity: 'MEDIUM,HIGH,CRITICAL'
        format: 'table'
        exit-code: 3
        ignore-unfixed: true
        vuln-type: 'os,library'

    - name: Build frontend image from Dockerfile
      uses: docker/build-push-action@v3.2.0
      with:
        context: ./front/
        push: false
        tags: local/web:front
        cache-from: type=gha
        cache-to: type=gha,mode=max
        outputs: type=docker

    - name: Scan frontend image for vulnerabilities
      uses: aquasecurity/trivy-action@0.7.1
      with:
        scan-type: 'image'
        image-ref: 'local/web:front'
        severity: 'MEDIUM,HIGH,CRITICAL'
        format: 'table'
        security-checks: 'vuln'
        exit-code: 3
        ignore-unfixed: true
        vuln-type: 'os,library'

    - name: Authenticate to Google Cloud using OIDC
      uses: 'google-github-actions/auth@v0'
      with:
        workload_identity_provider: 'projects/${{ secrets.PROJECT_ID }}/locations/global/workloadIdentityPools/oidc-pool/providers/ci-cd-jwt'
        audience: ${{ secrets.OIDC_AUDIENCE }}
        service_account: ${{ secrets.CI_CD_SA_MAIL }}

    - name: Set up Cloud SDK
      uses: 'google-github-actions/setup-gcloud@v0'

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2.0.2
      with:
        terraform_version: 1.3.2
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Remote authentication on terraform to GCP using OIDC
      run: |
        export GOOGLE_OAUTH_ACCESS_TOKEN=$(gcloud auth print-access-token --impersonate-service-account=${{ secrets.MAIN_SA_MAIL }})

        echo "::add-mask::$GOOGLE_OAUTH_ACCESS_TOKEN"

        cat << EOF > /tmp/tf-var-set-update.json
        {
          "data": {
            "type": "vars",
            "attributes": {
              "key": "GOOGLE_OAUTH_ACCESS_TOKEN",
              "value": "${GOOGLE_OAUTH_ACCESS_TOKEN}",
              "description": "Access token for main service account ; valid for 1 hour max.",
              "sensitive": true,
              "category": "env",
              "hcl": false
            }
          }
        }
        EOF

        curl \
          --header "Authorization: Bearer ${{ secrets.TF_API_TOKEN }}" \
          --header "Content-Type: application/vnd.api+json" \
          --request PATCH \
          --data @/tmp/tf-var-set-update.json \
          https://app.terraform.io/api/v2/${{ secrets.TF_API_VAR_PATH }}

    - name: Terraform Format
      run: terraform -chdir=./iac fmt -check

    - name: Terraform Init
      run: terraform -chdir=./iac init

    - name: Terraform Validate
      run: terraform -chdir=./iac validate -no-color
